@font-face {
  font-family: Console;
  src: local("consolas-webfont"),
       local("consolas-webfont"),
       url(consolas-webfont.ttf);
}

html{
  overflow: hidden;
}

.cmdWindow{
  width:900px;
  height:450px;
  position:absolute;
  left:0%;
  border: 2px solid #0078d7;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  z-index:1;
}

.notepadWindow{
  width:900px;
  height:450px;
  position:absolute;
  left:0%;
  border: 2px solid #0078d7;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  z-index:1;
}

.cmd{
  background-color: #0c0c0c;
  color: #cccccc;
  margin:10;
  font-size:16px;
  font-family: Consolas;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  height:calc(100% - 30px);
}

.notepad{
  background-color: #ffff;
  color: black;
  margin:10;
  font-size:16px;
  font-family: Consolas;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  height:calc(100% - 30px);
}

p{
  display: block;
  margin-top:0px;
  margin-bottom:0px;
}

.command{
  display: inline-block;
}

.cmdWindow .cmd .commandInput{
  display: inline-block;
  width:auto;
  background-color: rgba(0,0,0,0);
  border:none;
  color:transparent;
  text-shadow : 0 0 0 #cccccc;
  font-family: Consolas;
  font-size:16px;
}

.notepadWindow .notepad .commandInput{
  display: inline-block;
  width:auto;
  background-color: rgba(0,0,0,0);
  border:none;
  text-shadow : 0 0 0 #cccccc;
  font-family: Consolas;
  font-size:16px;
}

pre{
  font-family: Consolas;
  margin:0;
}

.blink {
  margin:0;
  display: inline-block;
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

input:focus {
    outline: none;
}

.windowHeader{
  margin:0;
  width:100%;
  height:30px;
  background-color:#0078d7;
  font-family: Segoe UI;
  color:white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resizeBig, .resizeSmall, .close{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 4px;
  display: inline-block;
  float: right;
  font-size: 15px;
}

.title{
  margin:0;
  padding-top: 5px;
  display: inline-block;
  float:left;
  font-size: 14px;
  margin-left: 5px;
}

.titleImage{
  display: inline-block;
  float:left;
  margin-top: 8px;
  margin-left: 7px;
}

.resizeSmall:hover, .resizeBig:hover{
  background-color: #1a86db;
}

.close:hover{
  background-color: #e81123;
}

.ui-icon {
  background-image: url("") !important;
}

#cmdIcon{
  width:100px;
  height:125px;
  border-radius: 2px;
  position: absolute;
  top:calc(50% - 62px);
  left:calc(40% - 50px);
  z-index:0;
}

#notepadIcon{
  width:100px;
  height:125px;
  border-radius: 2px;
  position: absolute;
  top:calc(50% - 62px*5);
  left:calc(40% - 50px*5);
  z-index:0;
}

#cmdIcon:hover, #notepadIcon:hover{
  background-color: rgba(109, 157, 195,0.25);
}

.clicked{
  background-color: rgba(109, 157, 195,0.5) !important;
}

.IconTitle{
  text-shadow: 1px 1px 2px rgba(0,0,0,.75);
  font-size:14px;
  text-align: center;
  width:100%;
  margin:0;
  color:white;
  font-family: Segoe UI;
}

.desktopIcon{
  width:100px;
  height:100px;
  margin:0;
}

#desktop{
  position: absolute;
  left:0%;
  top:0%;
  margin:0;
  width:100%;
  height:100%;
  background-image: url('wp.png');
  background-size: cover;
}
