body,html{
    background-color: #2e3440;
}

#all{
  --bg-color: rgb(107, 161, 179, 1);
  width: 200px;
  height: 60px;
  position: absolute;
  left: calc(50% - 100px);
  top: 5%;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s ease-in-out;
  padding-top: 40px;
  font-family: Raleway;
  text-align:center;
  color : #6ba1b3;
  font-size: 18px;
  background: linear-gradient(var(--bg-color) 0%,var(--bg-color));
  background-position-y: 100px;
  background-repeat: no-repeat;
  border: 2px solid #6ba1b3;
}

#all:hover{
  background-position-y: 0px;
}

#tabs{
  display: block;
  margin: 0 auto;
  width:calc(410px*2 + 10px*6);
  margin-top: 200px;
  text-align: center;
}

.tab {
  display: inline-block;
  border: 2px solid var(--bg-color);
  width: 400px;
  height: 250px;
  margin: 10px;
  background: linear-gradient(var(--bg-color) 0%,var(--bg-color));
  background-position-y: 350px;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: left;
}

.tab:hover{
  background-position-y: 0px;
}

#messenger{
  display: inline-block;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg,#0794ff 0%,#a033ff 35%,#ff5280 75%,#ff7061 100%);
  border-image-slice: 1;
  width: 400px;
  height: 250px;
  margin: 10px;
  background: linear-gradient(45deg,#0794ff 0%,#a033ff 35%,#ff5280 75%,#ff7061 100%);
  background-position-y: 350px;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: left;
}

#messenger:hover{
  background-position-y: 0px;
}

img {
  --width: 40px;
  width: var(--width);
  position: relative;
  top: calc(50% - var(--width)/2);
  left:calc(50% - var(--width)/2);
}

svg{
  --width: 40px;
  position: relative;
  top: calc(50% - var(--width)/2);
  left:calc(50% - var(--width)/2);
}
