html{
  background-color: #72b1ab;
}

h1{
  font-family: 'Nerko One', cursive;
  color: #f7d6d0;
  text-shadow: 3px 3px 0px #c48987;
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
}

img{
  margin: 0 auto;
  width: 300px;
  display: block;
  animation: 1s ease-in-out infinite alternate both rotation;
}

@keyframes rotation {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}
