.bloc-gauche { 
  float:left;
  width:70px;
  color:#267859;
  border-right:solid 1px;
  padding-right:8px;
}
.bloc-droit { 
  float:right;
  width:70px;
  color:#507846;
  border-left:solid 1px;
  padding-left:8px;
}
.bloc-central { 
  padding-left:90px;
  padding-right:90px;
}

