html{
    --primary-color: #f2e269;
    --secondary-color: #cba000;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html{
    margin:0 auto;
    background-color:var(--primary-color);
    color:#5a4813;
    font-family: "Balsamiq Sans", sans-serif !important;
    overflow-x:hidden;
}

body{
    margin:0;
    background-color:#f9f8e2;
    overflow-x:hidden;
    width:100vw;
    font-family: "Balsamiq Sans", sans-serif !important;
}

#wave_top,#wave_bottom{
    height:2vw;
    width:200vw;
    min-height:25px;
    overflow: hidden;
    z-index:50;
    animation: 3s linear 1s infinite running slidein;
}

#wave_top{
    border-top:150px solid var(--primary-color);
}

#wave_top_russian{
    border-top:150px solid #;
}

#wave_bottom{
    margin-top:100px;
    border-bottom:50px solid var(--primary-color);
    height:2.2vw;
}

@keyframes slidein {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
}

h1{
    position:relative;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    color:white;
    background-color: var(--secondary-color);
    border-radius:50px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    margin-top:-150px;
    margin-bottom: 100px;
    width:fit-content;
    z-index:100;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.baguette{
    background: url('baguette.svg');
    vertical-align: middle;
}

.star{
    background: url('star.svg');
    vertical-align: text-top;
}

.baguette,.star{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 50px;
    width: 50px;
}

#search_bar{
    width:calc(100% - 50px);
    max-width:750px;
    height:65px;
    display:block;
    margin:0 auto;
    border-radius:10px;
    border:none;
    background-color:#e7e0c4;
    padding-left:50px;
    font-size:20px;
    font-family: "Balsamiq Sans", sans-serif !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index:20;
}

h1 .fa-sun{
    font-size:40px;
}

#search_bar_div{
    width:90%;
    max-width:800px;
    margin:0 auto;
    height:fit-content;
    margin-top:50px;
}

#search_bar_div::before{
    pointer-events:none;
    position:relative;
    top:45px;
    left:20px;
    z-index:30;
    font-size:20px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    opacity: 0.5;
}

#search_bar:focus{
    outline:none;
}

#words_outer{
    width:85%;
    max-width:750px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0 auto;
    max-height:400px;
    overflow:hidden;
    position: relative;
    z-index:1;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1)
}

#words{
    max-height:400px;
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    padding-bottom:10px;
    background-image: url('bg.png');
    background-attachment: local;
    background-size: 50%;
}

.word{
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 0px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    width:fit-content;
    height:fit-content;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
}

.word:nth-child(7n),.letter:nth-child(7n),.number:nth-child(7n){
    background-color:#fbc59f;
}
.word:nth-child(7n+1),.letter:nth-child(7n+1),.number:nth-child(7n+1){
    background-color:#f4eb84;
}
.word:nth-child(7n+2),.letter:nth-child(7n+2),.number:nth-child(7n+2){
    background-color:#c499e0;
}
.word:nth-child(7n+3),.letter:nth-child(7n+3),.number:nth-child(7n+3){
    background-color:#f39f95;
}
.word:nth-child(7n+4),.letter:nth-child(7n+4),.number:nth-child(7n+4){
    background-color:#a9e3bb;
}
.word:nth-child(7n+5),.letter:nth-child(7n+5),.number:nth-child(7n+5){
    background-color:#a6cdf4;
}
.word:nth-child(7n+6),.letter:nth-child(7n+6),.number:nth-child(7n+6){
    background-color:#e6b8b8;
}

.divisor{
    display:block;
    width:400px;
    margin:0 auto;
    height:3px;
    background-color:#5a4813;
    margin-top:50px;
    margin-bottom:50px;
}

#guess_game{
    width:90%;
    max-width:750px;
    margin:0 auto;
    margin-top:50px;
    display:block;
    text-align:center;
}

h2{
    font-size:30px;
    font-weight:700;
    margin:0 auto;
    margin-bottom:10px;
    text-align:center;
    margin-top:50px;
}

#guess_result{
    font-size:20px;
    color:#f9f8e2;
    background-color:#5a4813;
    border-radius:25px;
    padding-left: 15px;
    padding-right: 15px;
    width:fit-content;
    margin:0 auto;
    margin-top:25px;
    height:25px;
    opacity:0;
}

#guess_word{
    height:61px;
    width:260px;
    display:inline-block;
    margin:0 auto;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 65px;
    margin-top:-3px;
}

#guess_word p{
    line-height: 20px;
}

#guess_input{
    padding:0;
    height:65px;
    width:250px;
    display:inline-block;
    margin:0 auto;
    border-radius:10px;
    border:none;
    background-color:#e7e0c4;
    padding-left:10px;
    font-size:20px;
    font-family: "Balsamiq Sans", sans-serif !important;
    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index:20;
    text-align:center;
}

#guess_input:focus{
    outline:none;
}

#letters_div{
    width:90%;
    max-width:400px;
    margin:0 auto;
    display:block;
    text-align:left;
}

#numbers_div{
    width:90%;
    max-width:700px;
    margin:0 auto;
    display:block;
    text-align:center;
}

.number p{
    font-size: 25px;
    margin:0 auto;
    height:25px;
    line-height: 25px;
}

.number p:nth-child(2){
    font-size: 15px;
    height:15px;
    line-height: 15px;
}

.letter,.number{
    height:50px;
    width:50px;
    display:inline-block;
    margin:0 auto;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    border-radius:10px;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    position: relative;
    z-index:20;
    vertical-align: middle;
    line-height: 50px;
    margin-top:-3px;
}

.number{
    width:60px;
    padding-top:10px;
}

#cases_div,#verb_div{
    width:100%;
    overflow-x: auto;
}

#vowels_table{
    font-style: italic;
    margin:0 auto;
}

#vowels_table{
    border-collapse: collapse;
    margin-bottom:25px;
}

#vowels_table td:not(:first-child){
    border: 1px solid black;
    border-top:0;
    border-bottom:0;
    width:50px;
    text-align: center;
}
#vowels_table tr:last-child td {
    border-bottom: 0;
}
#vowels_table tr td:first-child,#vowels_table tr td:nth-child(2){
    border-left: 0;
}
#vowels_table tr td:last-child{
    border-right: 0;
}

#vowels_table td:first-child{
    text-align: right;
}

#verb,#cases{
    min-width:500px;
}

#cases,#verb{
    border:1px solid #5a4813;
    border-collapse:collapse;
    width:90%;
    max-width:600px;
    margin:0 auto;
    border-radius:5px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border:1.5px solid #5a4813;
    border-bottom: 3px solid #5a4813;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
   }
   
/* Apply a border to the right of all but the last column */
#cases th:not(:last-child),
#cases td:not(:last-child),
#verb th:not(:last-child),
#verb td:not(:last-child){
border-right: 1px solid black;
}

#cases th,#verb th{
    background-color: var(--primary-color);
    height:35px;
    text-align:center;
}

#cases td,#verb td{
    text-align:center;
    height:25px;
    background-color:#e7e0c4;
}

#cases td:first-child{
    width:100px;
    font-weight: 700;
}

#verb td:first-child{
    width:130px;
    font-weight: 700;
}

/* Apply a border to the bottom of all but the last row */
#cases>thead>tr:not(:last-child)>th,
#cases>thead>tr:not(:last-child)>td,
#cases>tbody>tr:not(:last-child)>th,
#cases>tbody>tr:not(:last-child)>td,
#cases>tfoot>tr:not(:last-child)>th,
#cases>tfoot>tr:not(:last-child)>td,
#cases>tr:not(:last-child)>td,
#cases>tr:not(:last-child)>th,
#cases>thead:not(:last-child),
#cases>tbody:not(:last-child),
#cases>tfoot:not(:last-child),
#verb>thead>tr:not(:last-child)>th,
#verb>thead>tr:not(:last-child)>td,
#verb>tbody>tr:not(:last-child)>th,
#verb>tbody>tr:not(:last-child)>td,
#verb>tfoot>tr:not(:last-child)>th,
#verb>tfoot>tr:not(:last-child)>td,
#verb>tr:not(:last-child)>td,
#verb>tr:not(:last-child)>th,
#verb>thead:not(:last-child),
#verb>tbody:not(:last-child),
#verb>tfoot:not(:last-child) {
    border-bottom: 1px solid black;
}

#progress_div{
    width:90%;
    max-width:750px;
    margin:0 auto;
    margin-bottom:25px;
    display:block;
    text-align:center;
    opacity:0;
}

#progress_div p{
	background-color: #f4b900;
	color: white;
	width: fit-content;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    opacity: 0;
    animation: bob 4s ease-in-out infinite;
    transform: translateX(-100%);
    position: relative;
    height:20px;
}

#progress_div p::after{
    content: "";
    height:10px;
    width: 10px;
    transform:rotate(45deg);
    background-color:#f4b900;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    display:block;
    margin:0 auto;
    margin-top: 2px;
}

@keyframes bob {
    0% {
        transform: translate(-50%,0);
    }
    50% {
        transform: translate(-50%,-5px);
    }
    100% {
        transform: translate(-50%,0);
    }
}

#progress_div .total{
    height:5px;
    background-color: #ddcfaa;
    border-radius:10px;
    margin-bottom: 25px;
}

#progress_div .progress{
    height:10px;
    background-color: #f4b900;
    border-radius:10px;
    width:0%;
    margin-top:-32.5px;
    position:relative;
    z-index: 1;
}

#progress_div .progress_total{
    height:10px;
    background-color: #ddcfaa;
    border-radius:10px;
    width:0%;
    margin-top:-10px;
    position:relative;
    z-index:0;
}

@media only screen and (max-width: 700px) {
    h1{
        font-size:30px;
    }

    h1 .fa-sun{
        font-size:20px;
    }

    #guess_word{
        margin-bottom:25px;
    }

    #words{
        padding-top: 10px;
    }

    #wave{
        border-top:100px solid var(--primary-color);
        margin-bottom:50px;
    }

    .word{
        margin:0 auto;
        margin-bottom:10px;
    }

    #letters_div,#numbers_div{
        text-align:center;
    }
}