html{
  margin: 0;
}

body{
  background-color: #121213;
  color: #d7dadc;
  font-family: Arial;
  margin: 0;
  overflow: hidden;
}

#header{
  border-bottom: 1px solid #3a3a3c;
  width: 500px;
  min-width: 350px;
  margin:0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title{
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
}

.button{
  width: 24px;
  cursor: pointer;
}

#tableDiv{
  position: absolute;
  top: 20vh;
}

table{
  margin: 0 auto;
  border-spacing: 5px;
}

table td{
  width: 4vh;
  height: 4vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  animation-duration: 2s;
  animation-direction: reverse;
}

@keyframes appearLetter {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(1.1,1.1);
  }
}

@keyframes rotateLetter {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

table .undiscovered{
  border: 2px solid #3a3a3c;
}

table .filled{
  border: 2px solid #565758;
}

table .discovered{
  border: none;
  background-color: #3a3a3c;
  border: 2px solid #3a3a3c;
  color: #d7dadc;
}

table .correct{
  border: none;
  background-color: #538d4e;
  border: 2px solid #538d4e;
  color: #d7dadc;
}

table .misplaced{
  border: none;
  background-color: #b59f3b;
  border: 2px solid #b59f3b;
  color: #d7dadc;
}

#keyboard{
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  width: 500px;
  min-width: 350px;
}

#keyboard .key_row{
  display: flex;
  margin-top: 8px;
}

#keyboard .spacer{
  flex: 0.5;
}

.key{
  height: 58px;
  background-color: #818384;
  color: #d7dadc;
  border-radius: 4px;
  margin-right: 6px;
  font-weight: bold;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.special_key{
  flex: 1.5;
}

#keyboard .correct{
  background-color: #538d4e;
}

#keyboard .misplaced{
  background-color: #b59f3b;
}

#keyboard .discovered{
  background-color: #3a3a3c;
}

#helpDiv{
  z-index: 10;
  background-color: #121213;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  transition: padding 0.25s;
  overflow: hidden;
}

#helpContent{
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
}

#helpHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

#helpHeader h2{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
}

.close{
  cursor: pointer;
  margin-left: auto;
}

#helpContent p{
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#helpContent .divider{
  width: 100%;
  border-bottom: 1px solid #3a3a3c;
}

.example_table{
  margin: 0;
  margin-top: 25px;
}

#win{
  z-index: 11;
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  transition: padding 0.25s;
  overflow: hidden;
}

#winContent{
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
  background-color: #121213;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #1a1a1b;
  margin-top: 25vh;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#winContent h2{
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#winContent #replay{
  border-radius: 4px;
  background-color: #538d4e;
  cursor: pointer;
  color: #d7dadc;
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

#winContent #replay:hover{
  background-color: #4c8148;
}

#winHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  height: 1px;
}

#winContent #graphContainer{
  width: 75%;
  margin: 0 auto;
}

#winContent .graphDiv{
  text-align: left;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#winContent .graphDiv p{
  margin: 0;
  display: inline-block;
  font-size: 14px;
}

#winContent .graphDiv .graph{
  background-color: #3a3a3c;
  color: #d7dadc;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  min-width: fit-content;
}

#winContent .graphDiv .graph.current_row{
  background-color: #538d4e;
}

#winContent #stats{
  margin-bottom: 25px;
}

#winContent #stats .statDiv{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#winContent #stats .statDiv .statValue{
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

#winContent #stats .statDiv .statKey{
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  #tableDiv{
    top: 15vh;
  }
  #keyboard{
    width: 100%;
    background-color: green;
  }
  #header{
    width: 100%;
  }
}
