html{
  --bg-color: #121213;
  --bg-color2: rgba(0,0,0,0.5);
  --text-color: #d7dadc;
  --border-color1: #3a3a3c;
  --border-color2: #565758;
  --keyboard-color: #818384;
  --cell-text-color: #d7dadc;
  --cell-yellow: #b59f3b;
  --cell-green: #538d4e;
  --cell-grey: #3a3a3c;
  --div-border: #1a1a1b;
  margin: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

#header{
  border-bottom: 1px solid var(--border-color1);
  width: 500px;
  min-width: 350px;
  margin:0 auto;
  height: 50px;
  display: table;
}

#title{
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  margin-top: 5px;
}

.button{
  width: 24px;
  cursor: pointer;
  margin-top: 10px;
}

.button path{
  fill: var(--border-color2);
}

.close path{
  fill: var(--border-color2);
}

#helpbutton{
  float: left;
}

#settingsbutton{
  float: right;
}

#statsbutton{
  float: right;
  margin-right: 15px;
}

#notInList{
  background-color: #dbd9db;
  border-radius: 4px;
  color: #161517;
  padding: 15px;
  width: 200px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  top: 10vh;
  left: calc(50% - 100px);
  transform: translateY(-25%);
  z-index: 100;
  display: none;
  transition: transform .5s ease-in-out;
}

#tableDiv{
  position: absolute;
  top: 20vh;
}

table{
  margin: 0 auto;
  border-spacing: 5px;
}

table td{
  width: 4vh;
  height: 4vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  animation-duration: 2s;
  animation-direction: reverse;
}

@keyframes appearLetter {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(1.1,1.1);
  }
}

@keyframes shakeLetter {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  70% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes rotateLetter {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

table .undiscovered{
  border: 2px solid var(--border-color1);
}

table .filled{
  border: 2px solid var(--border-color2);
}

table .discovered{
  border: none;
  background-color: var(--cell-grey);
  border: 2px solid var(--cell-grey);
  color: var(--cell-text-color);
}

table .correct{
  border: none;
  background-color: var(--cell-green);
  border: 2px solid var(--cell-green);
  color: var(--cell-text-color);
}

table .misplaced{
  border: none;
  background-color: var(--cell-yellow);
  border: 2px solid var(--cell-yellow);
  color: var(--cell-text-color);
}

#keyboard{
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  width: 500px;
  min-width: 350px;
}

#keyboard .key_row{
  display: flex;
  margin-top: 8px;
}

#keyboard .spacer{
  flex: 0.5;
}

.key{
  height: 58px;
  background-color: var(--keyboard-color);
  color: var(--text-color);
  fill: var(--text-color);
  border-radius: 4px;
  margin-right: 6px;
  font-weight: bold;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  user-select: none;
}

.special_key{
  flex: 1.5;
}

#keyboard .correct{
  background-color: #538d4e;
}

#keyboard .misplaced{
  background-color: #b59f3b;
}

#keyboard .discovered{
  background-color: var(--cell-grey);
}

#helpDiv{
  z-index: 10;
  background-color: var(--bg-color);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  transition: padding 0.25s;
  overflow: hidden;
}

#helpContent{
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
}

#helpHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

#helpHeader h2{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
}

.close{
  cursor: pointer;
  margin-left: auto;
}

#helpContent p{
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.divider{
  width: 100%;
  border-bottom: 1px solid var(--border-color1);
}

.example_table{
  margin: 0;
  margin-top: 25px;
}

#win{
  z-index: 11;
  background-color: var(--bg-color2);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  transition: padding 0.25s;
  overflow: hidden;
}

#winContent{
  opacity: 1;
  width: 25%;
  min-width: 300px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid var(--div-border);
  margin-top: 25vh;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#winContent h2{
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#winContent #replay{
  border-radius: 4px;
  background-color: var(--cell-green);
  cursor: pointer;
  color: var(--cell-text-color);
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

#winContent #replay:hover{
  background-color: #4c8148;
}

#winHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  height: 1px;
}

#winContent #graphContainer{
  width: 75%;
  margin: 0 auto;
}

#winContent .graphDiv{
  text-align: left;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#winContent .graphDiv p{
  margin: 0;
  display: inline-block;
  font-size: 14px;
}

#winContent .graphDiv .graph{
  background-color: var(--cell-grey);
  color: var(--cell-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  min-width: fit-content;
}

#winContent .graphDiv .graph.current_row{
  background-color: var(--cell-green);
}

#winContent #stats{
  margin-bottom: 25px;
}

#winContent #stats .statDiv{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#winContent #stats .statDiv .statValue{
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

#winContent #stats .statDiv .statKey{
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin: 0;
}

#settingDiv{
  z-index: 10;
  background-color: var(--bg-color);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  transition: padding 0.25s;
  overflow: hidden;
}

#settingContent{
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
}

#settingHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}

#settingDiv h2{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  width: 100%;
}

.setting .title{
  display: inline-block;
  font-size: 18px;
}

.setting .text{
  font-size: 12px;
  color: var(--keyboard-color);
}

#green_buttons{
  text-align: center;
}

.green_button{
  border-radius: 4px;
  background-color: var(--cell-green);
  cursor: pointer;
  color: var(--cell-text-color);
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.green_button:hover{
  background-color: #4c8148;
}

#green_buttons .selected{
  background-color: var(--border-color2);
  cursor: auto;
  color: var(--cell-text-color);
}

#green_buttons .selected:hover{
  background-color: var(--border-color2);
}

.switch{
  height: 20px;
  width: 32px;
  border-radius: 999px;
  background-color: var(--border-color2);
  float: right;
  margin-top: 20px;
}

.switch.selected{
  background-color: var(--cell-green);
}

.knob{
  display: block;
  position: relative;
  left: 2px;
  top: 2px;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: white;
  transform: translateX(0px);
  transition: transform 0.3s;
}

.knob.selected{
  transform: translateX(12px);
}

#winWord{
  display: none;
}

@media screen and (max-width: 500px) {
  #tableDiv{
    top: 10vh;
  }
  #keyboard{
    width: 100%;
  }
  #header{
    width: 100%;
  }
  #winContent{
    margin-top: 15vh;
    width: calc(100% - 40px);
  }
}
